input,
input:focus-visible {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  outline: none;
  font-size: 36px;
}

input.find {
  background-color: green;
  color: white;
}

input.present {
  background-color: yellow;
  color: white;
}