.newLingo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 32px;

  button {
    height: 40px;
  }
}

.size {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 32px;
}