:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title,
.nameInput,
.nameList {
  margin-bottom: 12px;
}

.name {
  margin-bottom: 8px;
}

button {
  height: 40px;
}